<md-grid-list cols="6" rowHeight="36px" *ngIf="!showCharSheet">
	<md-grid-tile colspan="5" rowspan="3">
		<h1>
			{{title}}
		</h1>
	</md-grid-tile>
	<md-grid-tile>
		<md-slide-toggle color="primary" [ngModel]="freeForm" (ngModelChange)="resetSheet($event)">Ignore Restrictions</md-slide-toggle>
	</md-grid-tile>
	<md-grid-tile>
		<button md-button (click)="resetSheet()"><md-icon>clear</md-icon>Start Over</button>
	</md-grid-tile>
	<md-grid-tile>
		<button md-button (click)="generateSheet()"><md-icon>description</md-icon>See Hero Sheet</button>
	</md-grid-tile>
</md-grid-list>

<app-character-sheet *ngIf="showCharSheet" [character]="passCharacter()" (refresh)="activate($event)" id="printThis"></app-character-sheet>
<md-tab-group selectedIndex="{{tabIndex}}" *ngIf="!showCharSheet">
<md-tab label="Info and Backgrounds">
	<div class="char-box inline">
		<div>
			<h2>Nationality</h2>
			<form>
				<md-select placeholder="Select Nationality" [ngModel]="selectedPeople" (ngModelChange)="onPeopleChange($event)" name="people">
				    <md-option *ngFor="let people of peopleOptions" [value]="people" disabled="{{people.code === 'null'}}">
						{{people.name}}
				    </md-option>
				</md-select>
			</form>
		</div>
		<h2>Character information</h2>
		<div *ngFor="let info of charInfo; let i = index" class="">
			<md-input-container *ngIf="!info.hidden && info.type === 'text'" class="no-margin">
				<input [(ngModel)]="info.value" placeholder="{{info.label}}" name="info.name" md-input />
			</md-input-container>
			<md-select *ngIf="info.type === 'select'" [(ngModel)]="selectedReligion" placeholder="Select Your Religion">
				<md-option *ngFor="let religion of religionOptions; let i = index" class="" [value]="religion">{{religion}}</md-option>
			</md-select>
			<md-input-container *ngIf="selectedReligion === 'Other' && info.type === 'select'" class="no-margin">
				<input [(ngModel)]="otherReligion" placeholder="Your Religion" md-input />
			</md-input-container>
		</div>
		<div class="margin-top">
			<button md-raised-button (click)="generateRandomName('male')" *ngIf="selectedPeople.code !== 'null'">Random Male Name</button>
			<button md-raised-button (click)="generateRandomName('female')" *ngIf="selectedPeople.code !== 'null'">Random Female Name</button>
		</div>
	</div>

	<div class="char-box inline">
		<h2>Backgrounds</h2>
		<p class="md-caption">
			To limit the options to only national backgrounds, check the box next to the select field.
		</p>
		<form class="inline" name="form2">
			<md-select placeholder="Select fist background" [ngModel]="selectedBackgrounds[0]" (ngModelChange)="onBackgroundChange($event, 0)" name="background_1">
			    <span *ngIf="!showNationalBgOnly.first">
				    <md-option *ngFor="let bg of backgroundOptions" [value]="bg" disabled="{{bg.name === selectedBackgrounds[1].name || bg.quirk === '---'}}">
						{{bg.name}}
				    </md-option>
			    </span>
			    <span *ngIf="showNationalBgOnly.first">
			    	<span *ngFor="let bg of backgroundOptions">
				    	<md-option [value]="bg" *ngIf="(bg.restriction === selectedPeople.code) || (bg.restriction === 'gla' && (selectedPeople.code === 'ava' || selectedPeople.code === 'ini' || selectedPeople.code === 'hig'))" disabled="{{bg.name === selectedBackgrounds[1].name || bg.quirk === '---'}}">
							{{bg.name}}
					    </md-option>
				    </span>
			    </span>
			</md-select>
		</form>
		<md-checkbox class="inline-check" [(ngModel)]="showNationalBgOnly.first" name="first" disabled="{{selectedPeople.code === 'null'}}">national</md-checkbox>

		<form class="inline" name="form2">
			<md-select placeholder="Select second background" [ngModel]="selectedBackgrounds[1]" (ngModelChange)="onBackgroundChange($event, 1)" name="background_2">
			    <span *ngIf="!showNationalBgOnly.second">
				    <md-option *ngFor="let bg of backgroundOptions" [value]="bg" disabled="{{bg.name === selectedBackgrounds[0].name || bg.quirk === '---'}}">
						{{bg.name}}
				    </md-option>
			    </span>
			    <span *ngIf="showNationalBgOnly.second">
			    	<span *ngFor="let bg of backgroundOptions">
				    	<md-option [value]="bg" *ngIf="(bg.restriction === selectedPeople.code) || (bg.restriction === 'gla' && (selectedPeople.code === 'ava' || selectedPeople.code === 'ini' || selectedPeople.code === 'hig'))" disabled="{{bg.name === selectedBackgrounds[0].name || bg.quirk === '---'}}">
							{{bg.name}}
					    </md-option>
				    </span>
			    </span>
			</md-select>
		</form>
		<md-checkbox class="inline-check" [(ngModel)]="showNationalBgOnly.second" name="second" disabled="{{selectedPeople.code === 'null'}}">national</md-checkbox>

		<div class="margin-top">
			<button md-raised-button (click)="randomBackground()" class="margin-left">Randomize</button> 
		</div>
		<md-list>
			<div *ngFor="let bg of selectedBackgrounds">
				<md-list-item *ngIf="bg.name !== 'None selected'">
					{{bg.name}}
				</md-list-item>
				<md-list-item class="md-caption" *ngIf="bg.quirk !== '---'">
					<p>{{bg.quirk}}</p>
				</md-list-item>
			</div>
		</md-list>
	</div>
</md-tab>
<md-tab label="Traits and Skills">
	
	<div class="char-box inline">
		<div class="margin-top">
		<h2>Traits</h2>
			<p [ngClass]="{'text-grey': freeForm}"><strong>Trait points remaining: {{freeForm ? '--' : points.traits}}</strong>, national bonus points: {{freeForm ? '--' : points.national}}</p>
			<md-grid-list cols="2" rowHeight="2.5em" *ngFor="let trait of traits; let traitIndex = index" class="" [ngClass]="{'bg-shade': traitIndex%2 === 1}">
				<md-grid-tile>
					<h3 style="text-align: left" [ngClass]="{'strong-text': trait.favored}">{{trait.name}}</h3>
				</md-grid-tile>
				<md-grid-tile>
					<span *ngFor="let dot of dots; let i = index" class="">
						<md-icon *ngIf="i < trait.value" class="pointer" (click)="setCharValue('traits', traitIndex, i+1)">lens</md-icon>
						<md-icon *ngIf="i >= trait.value" class="pointer" (click)="setCharValue('traits', traitIndex, i+1)" [ngClass]="{'text-red': (i > 3 && trait.favored && !freeForm) || (i > 2 && !trait.favored && !freeForm)}">panorama_fish_eye</md-icon>
					</span>
				</md-grid-tile>
			</md-grid-list>
		</div>
	</div>

	<div class="char-box inline">
	<h2>Skills</h2>

	<p [ngClass]="{'text-grey': freeForm}"><strong>Skill points remaining: {{freeForm ? '--' : points.skills}}</strong></p>

	<md-grid-list cols="2" rowHeight="2.5em" *ngFor="let skill of skills; let skillIndex = index; let odd = odd" class="" [ngClass]="{'bg-shade': odd}">
		<md-grid-tile>
		<h3>{{skill.name}}</h3>
		</md-grid-tile>
		<md-grid-tile>
			<span *ngFor="let dot of dots; let i = index" class="">
				<md-icon *ngIf="i < skill.base + skill.value" class="pointer" (click)="setCharValue('skills', skillIndex, i+1)">lens</md-icon>
				<md-icon *ngIf="i >= skill.base + skill.value" class="pointer" (click)="setCharValue('skills', skillIndex, i+1)" [ngClass]="{'text-red': i > 2 && !freeForm}">panorama_fish_eye</md-icon>
			</span>
			<md-icon *ngIf="skill.base === 0 && skill.value > 0" class="pointer" (click)="setCharValue('skills', skillIndex, 0)">clear</md-icon>
		</md-grid-tile>
	</md-grid-list>
	</div>
</md-tab>
<md-tab label="Advantages and Sorcery">
	<div class="char-box inline-multi">
	<h2>All Advantages</h2>

	<p [ngClass]="{'text-grey': freeForm}" class="inline"><strong>Advantage points remaining: {{freeForm ? '--' : points.advantages}}</strong></p>
	<md-slide-toggle color="primary" [(ngModel)]="showAllAdv" (ngModelChange)="filterAdvantages('reset')" class="inline">Show All Advantages</md-slide-toggle>
	<div *ngIf="!showAllAdv">
		<div>Show advantages that cost at most
			<md-input-container class="inline-number">
				<input type="number" md-input [(ngModel)]="advCostRestriction" step="1" min="1" max="5" />
			</md-input-container> points.
		</div>
		<div>
			<md-input-container style="margin-top: 0;">
				<input type="text" placeholder="Type part of advantages to narrow the list." md-input [(ngModel)]="advQuery" (ngModelChange)="filterAdvantages()" />
			</md-input-container>
		</div>
	</div>
	<md-list>
		<div *ngFor="let adv of filteredAdvantages let i = index" class="">
			<md-list-item *ngIf="adv.cost <= advCostRestriction">
				<md-checkbox [ngModel]="adv.selected" (ngModelChange)="onAdvantageUpdate($event, adv)" disabled="{{adv.disabled}}">{{adv.name}} ({{adv.cost}} points)</md-checkbox>
			</md-list-item>
		</div>
	</md-list>
	</div>
	<div class="char-box inline">
		<div *ngIf="sorceryTimes > 0">
		<h2>{{getSorceryType()}} (Sorcery)</h2>
			<app-sorcery-part [nation]="selectedPeople.code" [rank]="sorceryTimes" (rankChanged)="sorceryUpdated($event)" (updated)="sorceryObjectUpdated($event)"></app-sorcery-part>
		</div>
		<div>
			<h2>Selected Advantages</h2>

			<md-list *ngIf="selectedAdvantages.length > 0">
				<div *ngFor="let adv of selectedAdvantages let i = index" class="">
					<span *ngIf="adv.name !== 'Sorcery'">
						<md-list-item>
							{{adv.name}}
						</md-list-item>
						<md-list-item class="md-caption">
							<p>{{adv.description}}</p>
						</md-list-item>
					</span>
				</div>
			</md-list>
			<md-card *ngIf="selectedAdvantages.length === 0">{{ sorceryTimes > 0 ? 'You have picked only Sorcery so far.' : 'You have picked no advantages yet.'}} It's recommended to select your <span class="text-red pointer" (click)="openTab(0)">Backgrounds</span> first as they provide free advantages.</md-card>
		</div>
	</div>
</md-tab>
	<md-tab label="Arcana and Stories">
		<div class="char-box small-box inline">
			<h2>Arcana</h2>
			<form>
				<md-select class="select-wide" placeholder="Select Virtue" [ngModel]="selectedArcana[0]" (ngModelChange)="onArcanaChange($event, 0)" name="arcana_1">
				    <md-option *ngFor="let arcana of arcanaOptions" [value]="arcana">
						{{arcana.virtue.name}} ({{arcana.name}})
				    </md-option>
				</md-select>
				<md-select class="select-wide" placeholder="Select Hubris" [ngModel]="selectedArcana[1]" (ngModelChange)="onArcanaChange($event, 1)" name="arcana_2">
				    <md-option *ngFor="let arcana of arcanaOptions" [value]="arcana">
						{{arcana.hubris.name}} ({{arcana.name}})
				    </md-option>
				</md-select>
				<div class="margin-top">
					<button md-raised-button (click)="randomArcana()" class="margin-left">Randomize</button> 
				</div>
			</form>
			<md-card class="margin-top">
				<md-list *ngIf="selectedArcana[0].name !== '---' || selectedArcana[1].name !== '---'" style="padding-top:0">
				<div *ngFor="let arcana of selectedArcana let i = index" class="">
					<md-list-item *ngIf="arcana.name !== '---'">
						<span *ngIf="i === 0">Virtue: {{arcana.virtue.name}} ({{arcana.name}})</span>
						<span *ngIf="i === 1">Hubris: {{arcana.hubris.name}} ({{arcana.name}})</span>
					</md-list-item>
					<md-list-item class="md-caption" *ngIf="arcana.name !== '---'">
						<p><span *ngIf="i === 0">{{arcana.virtue.description}}</span>
						<span *ngIf="i === 1">{{arcana.hubris.description}}</span></p>
					</md-list-item>
				</div>
				</md-list>
				<p *ngIf="selectedArcana[0].name === '---'">No Virtue selected</p>
				<p *ngIf="selectedArcana[1].name === '---'">No Hubris selected</p>
			</md-card>
		</div>
		<div class="char-box small-box inline">
			<md-card *ngIf="stories.length === 0" class="story-card">
				<md-card-title><h2>No stories</h2></md-card-title>
				<md-card-content style="padding: 1em">
					You have no stories yet. Start by <span class="text-red pointer" (click)="openStory()">adding your first</span>.
				</md-card-content>
			</md-card>
			<div *ngIf="stories.length > 0">
				<md-card *ngFor="let story of stories" class="story-card">
					<md-card-title><h2 [ngClass]="{'bg-darkgrey': story.completed}">{{story.title}}</h2></md-card-title>
					<md-card-subtitle>{{story.beginning}}</md-card-subtitle>
					<md-card-content>
					<table> <tr>
						<th> Ending </th>
						<th> Reward </th> </tr>
						<tr> <td> {{story.ending}} </td>
						<td> {{story.reward}} </td> </tr>
					</table>
					<p>Steps</p>
						<ol>
							<li *ngFor="let step of story.steps">{{step}}</li>
						</ol>
					</md-card-content>
				</md-card>
			</div>
			<div class="margin-top">
				<button md-raised-button (click)="openStory()" disabled="{{showStoryForm}}" *ngIf="stories.length > 0" >Add Another Story</button>
			</div>
		</div>
		<div class="char-box small-box inline">
			<md-card *ngIf="showStoryForm">
			<md-card-title>Add Story</md-card-title>
			<md-card-subtitle *ngIf="showStoryErrors" class="text-red">Fill all fields to add the Story</md-card-subtitle>
			<md-card-content>
				<md-input-container class="no-margin">
					<input [(ngModel)]="currentStory.title" placeholder="Story title" md-input />
				</md-input-container>
				<md-input-container class="no-margin">
					<input [(ngModel)]="currentStory.beginning" placeholder="Story concept" md-input />
				</md-input-container>
				<md-input-container class="no-margin">
					<input [(ngModel)]="currentStory.ending" placeholder="Story ending" md-input />
				</md-input-container>
				<md-input-container class="no-margin">
					<input [(ngModel)]="currentStory.reward" placeholder="Story reward" md-input />
				</md-input-container>
				<md-input-container class="no-margin">
					<input [(ngModel)]="currentStory.steps[0]" placeholder="Story step 1" md-input />
				</md-input-container>
				<md-input-container *ngIf="currentStory.steps.length > 1" class="inline-icon no-margin">
					<input [(ngModel)]="currentStory.steps[1]" placeholder="Story step 2" md-input />
					<md-icon (click)="removeStep(1)">remove_circle_outline</md-icon>
				</md-input-container>
				<md-input-container *ngIf="currentStory.steps.length > 2" class="inline-icon no-margin">
					<input [(ngModel)]="currentStory.steps[2]" placeholder="Story step 3" md-input />
					<md-icon (click)="removeStep(2)">remove_circle_outline</md-icon>
				</md-input-container>
				<md-input-container *ngIf="currentStory.steps.length > 3" class="inline-icon no-margin">
					<input [(ngModel)]="currentStory.steps[3]" placeholder="Story step 4" md-input />
					<md-icon (click)="removeStep(3)">remove_circle_outline</md-icon>
				</md-input-container>
				<md-input-container *ngIf="currentStory.steps.length > 4" class="inline-icon no-margin">
					<input [(ngModel)]="currentStory.steps[4]" placeholder="Story step 5" md-input />
					<md-icon (click)="removeStep(4)">remove_circle_outline</md-icon>
				</md-input-container>
				<div class="margin-top">
					<button md-raised-button (click)="addStep()" *ngIf="currentStory.steps.length < 5">Add Step</button>
				</div>
				<md-slide-toggle color="primary" [(ngModel)]="currentStory.completed">Story already completed</md-slide-toggle>
			</md-card-content>
			<md-card-actions  style="text-align: right">
				<button (click)="cancelStory()" md-button>CANCEL</button>
				<button (click)="addStory()" md-button>SAVE</button>
			</md-card-actions>
		</md-card>
	</div>
	</md-tab>
	<md-tab label="Additional Details">
		<div class="char-box small-box inline">
			<div>
				<h2>Wealth</h2>
				<p>Select one of your skills that contributes to your profession and earns your Wealth.</p>
				<md-select class="select-wide" placeholder="Profession Skill" [ngModel]="skillForWealth" (ngModelChange)="onWealthChange($event)" name="wealth_skill">
				    <md-option *ngFor="let skill of skillForWealthList" [value]="skill">
						{{skill.name}} ({{skill.base + skill.value}})
				    </md-option>
				</md-select>
				<p>You start your session with {{charWealth}} Wealth Points.</p>
			</div>
			<div>
				<h2>Secret Society</h2>
				<p>If you want to, you may join a Secret Society by selecting one from the list below.</p>
				<md-select [(ngModel)]="selectedSociety" placeholder="Select Secret Society">
					<md-option *ngFor="let society of secretSocieties; let i = index" class="" [value]="society">{{society}}</md-option>
				</md-select>
				<p *ngIf="selectedSociety">You start your session with 2 Favor Points.</p>
			</div>
		</div>
		<div class="char-box small-box inline">
			<h2> {{hasShip? '' : 'No'}} Ship</h2>
			<p *ngIf="!hasShip">You don't have a ship. Pick the 'Married to the sea' advantage to gain access to your own ship.</p>
			<div *ngIf="hasShip">
				<p>You have a ship.</p>
				<div *ngFor="let info of shipDetails; let i = index" class="">
					<md-input-container class="no-margin" *ngIf="info.type !== 'select'">
						<input [(ngModel)]="info.value" placeholder="{{info.label}}" name="info.name" md-input />
					</md-input-container>
					<md-select [(ngModel)]="info.value" placeholder="{{info.label}}" name="info.name" *ngIf="info.type === 'select' && info.label !== 'Bonus Background'">
						<md-option *ngFor="let option of shipData[info.name]" [value]="option.name">{{option.name}}</md-option>
					</md-select>
					<md-select [(ngModel)]="info.value" placeholder="{{info.label}}" name="info.name" *ngIf="info.type === 'select' && info.label === 'Bonus Background' && shipDetails[2].value === 'Sarmatian'">
						<md-option *ngFor="let option of shipData[info.name]" [value]="option.name">{{option.name}}</md-option>
					</md-select>
				</div>
			</div>
		<!--/div>
		<div class="char-box small-box inline"-->
			<h2> {{isDuelist? '' : 'No'}} Duelist</h2>
			<p *ngIf="!isDuelist">You are not a Duelist. Pick the 'Duelist Academy' advantage to gain access to Duelist Maneuvers.</p>
			<div *ngIf="isDuelist">
				<p>You are a Duelist.</p>
				<md-select [(ngModel)]="selectedStyle" placeholder="Select your Style">
					<md-option *ngFor="let style of duelistStyles; let i = index" class="" [value]="style">{{style}}</md-option>
				</md-select>
			</div>
		</div>
		<div class="char-box small-box inline">
			<h2> {{hasItem? '' : 'No'}} Signature item</h2>
			<p *ngIf="!hasItem">You don't have a signature item. Pick the 'Signature item' advantage to have your own signature item.</p>
			<div *ngIf="hasItem">
				<p>You have a signature item.</p>
				<md-input-container>
					<textarea  md-input placeholder="Describe your Item" [(ngModel)]="itemDesc"></textarea>
				</md-input-container>
			</div>
		<!--/div>
		<div class="char-box small-box inline"-->
			<h2> {{hasCompany? '' : 'No'}} Compainons</h2>
			<p *ngIf="!hasCompany">You don't have any Followers. Pick the 'Trusted companion' advantage to have a small group or a selected person accompany you.</p>
			<div *ngIf="hasCompany">
				<p>You've got company.</p>
				<md-input-container>
					<textarea md-input placeholder="Describe your companion(s)" [(ngModel)]="companyDesc"></textarea>
				</md-input-container>
			</div>
		</div>
	</md-tab>
</md-tab-group>
